*{
  margin: 0;
}

body{
  background-color: lightgray;
}

h1{
  font-family: "Arial", sans-serif;
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px 10px gray;
  margin: 20px;
}

#quizes{
  position: relative;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid black;
  width: 800px;
  height: 500px;
  box-shadow: 4px 2px 10px black;
}

#quizes ul{
  list-style: none;
}

#botao-add{
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 80px;
}

.botao{
  transition: transform 0.2s ease;
}

.botao:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.botao:active{
  cursor: pointer;
  transform: scale(1);
}

#novo-quiz{
  transition: 0.4s ease;
  position: absolute;
  width: 650px;
  background-color: rgba(255, 0, 0, 0.6);
  box-shadow: 2px 2px 10px gray;
  top: 80px;
  border: 1px solid gray;
}

.botao-fechar{
  border-radius: 20px;
  box-shadow: 2px 2px 15px white;
  width: 40px;
  position: absolute;
  right: 10px;
  top: 2px;
}

#novo-quiz *{
  font-family: "Arial", sans-serif;
  margin: 10px;
  display: block;
  padding: 5px;
}

#pergunta-quiz{
  width: 550px;
}

#alternativa-correta{
  display: inline-block;
}

#criar-quiz{
  font-size: 20px;
  font-weight: bold;
  display: inline;
}

#criar-quiz:hover{
  cursor: pointer;
}

#quiz-place{
  transition: 0.4s ease;
  position: absolute;
  width: 650px;
  background-color: rgba(255, 16, 1, 0.6);
  box-shadow: 2px 2px 10px gray;
  top: 80px;
  border: 1px solid gray;
}

#quiz-place *{
  padding: 10px;
  margin: 5px;
  display: block;
  font-family: "Arial", sans-serif;
}

.item-lista{
  padding: 20px;
  margin: 20px 20px 20px 10px;
  background-color: lightgreen;
  border-radius: 20px;
  font-size: 20px;
  font-family: "Lucida Console", sans-serif;
}

.item-lista:hover{
  font-weight: bold;
  text-shadow: 2px 2px 10px lightgray;
  cursor: pointer;
}

.quiz{
  background-color: rgba(0, 0, 255, 0.5);
  box-shadow: 2px 2px 15px black;
  border: 1px solid black;
  width: 500px;
  top: 80px;
}

.alternativa{
  width: 550px;
}

.desaparecido{
  position: relative;
  left: -1000px;
}

.aparecido{
  left: 385px;
}
